<div class="words-total">
	<h4>
		<span>Всего слов <b>{{total}}</b>.</span>
		<span>Разных слов <b>{{uniq}}</b></span>
	</h4>
	<div class="form-group">
		<input ng-model="search" ng-model-options="{debounce: {'default': 500}}" type="text" class="form-control search-field" placeholder="Поиск">
		<select ng-model="sourceName" ng-options="source for source in sourceNames" class="form-control source-name">
		</select>
		<label for="nostopwords">
			<input id="nostopwords" type="checkbox" ng-model="nostopwords">
			No stop words
		</label>
		<label for="popular-first">
			<input id="popular-first" type="checkbox" ng-model="popularFirst">
			Popuplar first
		</label>
		<label for="group-by-stem">
			<input id="group-by-stem" type="checkbox" ng-model="groupByStem">
			Group by stem
		</label>
	</div>
	
	<div class="dashboard">
		<detail-frequency-chart words-data="wordFrequency" on-bar-click="onFrequencyChartBarClick(event, d)"></detail-frequency-chart>
	</div>
</div>