<div class="home">
	<ul>
		<li><a ui-sref="home">Домой</a></li>
		<li><a ui-sref="words_total">Общее количество слов</a></li>
		<li><a ui-sref="conversation({source:'qip'})">Диалоги QIP</a></li>
		<li><a ui-sref="conversation({source:'skype'})">Диалоги Skype</a></li>
	</ul>
</div>