<div class="upload">
	<div class="form-group">
		<p class="notification bg-success" ng-show="message">{{message}}</p>
		<p class="notification bg-danger" ng-show="error">{{error}}</p>
		<input type="text" ng-model="title" class="form-control" placeholder="Title">
		<br>
		<textarea cols="30" rows="10" ng-model="text" class="form-control" placeholder="Text"></textarea>
		<button ng-disabled="!title || !text" ng-click="submit()" class="btn btn-primary">Submit</button>
	</div>
</div>