<div class="words-total">
	<h4>
		{{totalWords}} слов за период {{wordsTimeRange.from.created | date:'dd/MM/yyyy'}} - {{wordsTimeRange.to.created | date:'dd/MM/yyyy'}}
	</h4>
	<div class="form-group">
		<input 
			ng-model="search" 
			ng-model-options="{ debounce: 1000 }"
			type="text" class="form-control search-field" placeholder="Поиск">
		<select ng-model="sourceName" class="form-control source-name">
			<option value="korr">Korrespondent</option>
			<option value="qip">QIP</option>
			<option value="skype">Skype</option>
		</select>
	</div>
	<label for="nostopwords">
		<input id="nostopwords" type="checkbox" ng-model="nostopwords">
		No stop words
	</label>
	
	<div class="dashboard">
		<div class="left-container">
			<distribution-chart 
				words-data="wordDistribution" 
				chart-height="200" 
				search="search" 
				on-bar-click="onDistributionBarClick(event, d)"
				>
			</distribution-chart>
			
			<!-- <input ng-model="selectedRange" type="range" min="{{start}}" max="{{end}}" step="{{rangeStep}}"> -->
			<frequency-chart words-data="wordFrequency" on-bar-click="onFrequencyChartBarClick(event, d)"></frequency-chart>
		</div><!--  
	 --><div class="right-container">
			<ul class="inclusion-list">
				<li ng-repeat="wi in wordInclusion">
					<div class="inclusion-title">
						<a href="{{wi.link}}">{{wi.title}}</a>
						<!-- <div ng-if="wi.userName">
							{{wi.userName}} ->
							{{wi.recipient.substr(0, 30)}}
						</div> -->
					</div>
					<div class="inclusion-description">
						{{wi.text || wi.messageText}}
					</div>
					<div class="inclusion-date">
						{{wi.created | date: 'dd/MM/yyyy'}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>