<div class="word-distribution">
	<h4>Частота слова "{{word}}"</h4>
	<distribution-chart 
		words-data="wordsFrequency" 
		chart-height="600" 
		on-bar-click="onBarClick(event, d)">
	</distribution-chart>
</div>