<!DOCTYPE html>
<html ng-app="bookStat">
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/components/lodash/lodash.js"></script>
    <script type="text/javascript" src="/components/d3/d3.js"></script>

    <script type="text/javascript" src="/modules/common/services/services.js"></script>
    <script type="text/javascript" src="/modules/common/directives/config.js"></script>
    <script type="text/javascript" src="/modules/common/directives/detailFrequencyChart.js"></script>

    <script type="text/javascript" src="/modules/book/config.js"></script>
    <script type="text/javascript" src="/modules/book/controllers/WordCtrl.js"></script>
    <script type="text/javascript" src="/modules/book/controllers/BigramCtrl.js"></script>
    <script type="text/javascript" src="/modules/book/controllers/UploadCtrl.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,100,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="words_total">WS</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li>
                    <a ui-sref="statistics" href="#" >
                      Статистика слов
                    </a>
                  </li>
                  <li>
                    <a ui-sref="upload">
                      Загрузить
                    </a>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
      
      <section ui-view></section>
    </div>
  </body>
</html>
