<!DOCTYPE html>
<html ng-app="wordStat">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Word stat</h1>
    <div class="container">
      <h4><a href="/book">Book</a></h4>
      <h4><a href="/news">News</a></h4>
    </div>
  </body>
</html>
