<div class="conversation">
  <h3>{{source}}</h3>
  <select ng-model="personSender" ng-options="person.userName + '(' + person.count + ')' for person in senders"></select>
  <select ng-model="personRecipient" ng-options="person.userName + '(' + person.count + ')' for person in recipients"></select>
  <message-grid messages="messages" minify="minifyMessages"></message-grid>
</div>