<div class="message-search">
	<div class="form-group">
		<input type="text" ng-model="search" class="form-control">{{total}}
	</div>
	<div class="form-group date-range">
		<label for="" class="start">Start</label><input type="datetime-local" ng-model="start" class="form-control" placeholder="start">
		<label for="" class="end">End</label><input type="datetime-local" ng-model="end" class="form-control" placeholder="end">
	</div>
	<message-grid messages="messages" minify="minifyMessages"></message-grid>
</div>