<div class="message-grid">
	<label for="minify-box"><input ng-model="minify" id="minify-box" type="checkbox">minify</label>
	<div ng-if="minify" class="minified">
		<div class="message" ng-repeat="m in messages" ng-class="{cropped: m.messageText.length > 100}">
	        {{m.messageText.substr(0, 100)}} 	        
	        <span ng-show="m.messageText.length > 100">[+]</span> 

	        <div class="full-message">
	        	{{m.messageText}}
	        </div>
	        <div class="metadata">
	        	<div class="created">{{m.created | date:'dd/MM/yyyy @ HH:mm:ss'}}</div>
	        	<div class="sender">{{m.userName}}</div>
	        	<div class="recipient">{{m.recipient.substr(0, 30)}}</div>
	        </div>
	    </div>
	</div>
	<div ng-if="!minify">
		<table class="table">
		    <thead>
		      <tr>
		        <th>Дата</th>
		        <th>Имя</th>
		        <th>Сообщение</th>
		      </tr>
		    </thead>
		    <tbody class="table-striped">
		      <tr ng-repeat="m in messages">
		        <td>{{m.created | date:'dd/MM/yyyy @ HH:mm:ss'}}</td>
		        <td>{{m.userName}} -> {{m.recipient.substr(0, 20)}}</td>
		        <td>{{m.messageText}}</td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>
