<div class="search-message-component">
	<div class="form-group">
		<input type="text" ng-model="search" class="form-control" placeholder="Search">
	</div>
	<div class="total">
		{{total}}
	</div>
	<div class="date-range form-group">
		<label for="" class="start">Start</label><input type="datetime-local" ng-model="start" class="form-control" placeholder="start">
		<label for="" class="end">End</label><input type="datetime-local" ng-model="end" class="form-control" placeholder="end">
	</div>
	<message-grid messages="messages" minify="minify"></message-grid>
</div>