.detail-frequency-chart {
    .plot {
        background: white;
    }

    .word-count {
        text-anchor: start;
    }

    .bar {
        .total-count {
            fill: rgb(153, 130, 238);
            &:hover {
                fill: black;
            }
        }
       .count {
            fill: steelblue;
            &:hover {
                fill: black;
            }
        }
        rect.rect-data {
            fill: #BC7DAC;
        }
        rect.rect-background {
            fill: #EDD8E8;
        }
        &:hover {
            rect {
                fill: #9F518C;
            }
        }
        text {
            fill: black;
        }
        .word-data {
            .word {
                font-size: 21px;
                font-weight: 500;
            }
            .word-count {
                
            }
        }

    }

    .axis {
        &.axis-month {

        }
        &.axis-year {
            path {
                stroke: none;
            }
            text {
                font-weight: 700;
            }
        }
    }

    text { 
        font-size: 16px;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
}