.distribution-chart {
    rect {
        fill: #41BB8A;
    }
    rect:hover {
        fill: #0A915B;
    }

    .axis path,
    .axis line {
        fill: none;
        // stroke: #000;
        shape-rendering: crispEdges;
    }
}

.frequency-chart {
    .plot {
        background: white;
    }
    rect {
        fill: steelblue;
    }

    rect:hover {
        fill: #12548A;
    }

    .word-count {
        text-anchor: start;
    }

    .bar {
        .total-count {
            fill: rgb(153, 130, 238);
            &:hover {
                fill: black;
            }
        }
       .count {
            fill: steelblue;
            &:hover {
                fill: black;
            }
        }
    }

    .axis {
        &.axis-month {

        }
        &.axis-year {
            path {
                stroke: none;
            }
            text {
                font-weight: 700;
            }
        }
    }

    text { 
        font: 14px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
}


.message-search {
    .date-range {
        // text-align: center;
        input { 
          width: 200px;
          display: inline-block;
        }
        label {
            margin-right: 5px;
        }
        label.end {
            margin-left: 15px;
        }
    }
    .minified {
        .message {
            position: relative;
            .full-message {
                margin-right: 185px;
                display: none;
                position: absolute;
                top: 0;
                background-color: white;
                // border: 1px solid black;
                z-index: 2;
                text-decoration: underline;
            }
            &.cropped:hover {
                text-decoration: underline;
            }
            .metadata {
                position: absolute;
                right: 0px;
                top: 0px;
                font-family: monospace;
                font-size: 10px;
                display: none;
            }
            &:hover {
                .metadata {
                    display: block;
                }
                &.cropped .full-message {
                    display: block;
                } 
            }
        }
    }
}