@import "directives";
@import "detail-frequency-chart";

body {
    padding: 50px;
    font: 14px "Roboto", sans-serif;
}

a {
  color: #00B7FF;
}

th, td {
    overflow: hidden;
    width: 100px;
}

.word-frequency  {
   
}

.words-total {
    .search-field {
        width: 60%;
        display: inline-block;
    }
    .source-name {
        width: 39%;
        display: inline-block;
    }

    .left-container {
        width: 60%;
        display: inline-block;
    }
    .right-container {
        width: 40%;
        display: inline-block;
        // background: black;
        height: 100px;
        vertical-align: top;
    }
}

.inclusion-list {
    margin-top: 20px;
    list-style-type: decimal;
    font-size: 12px;
    // max-height: 600px;
    // overflow-y: auto;
    .inclusion-title {
        font-weight: 700;
        a {
            color: black;
        }
    }
    .inclusion-description {

    }
    .inclusion-date {
        // font-weight: 700;
        font-style: italic;
    }
}

.upload {
    .notification {
        padding: 10px 20px;
    }
}